body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #35424a;
    margin-top: 20px;
}

section {
    margin: 20px 0;
}

img {
    width: 350px;
    height: auto;
    border-radius: 20%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

footer {
    text-align: center;
    margin-top: 20px;
    background-color: #35424a;
}

footer h3 {
    margin-bottom: 10px;
}

footer h4 {
    display: inline;
    margin: 0 15px;
}

footer .icone {
    width: 30px;
    height: auto;
    vertical-align: middle;
    margin-left: 5px;
}

a{
    text-decoration: none;
    color: #ffffff;
}

.icone{
    width: 40px;
    height: auto;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}